body,th,input,select,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.leaf A:link {text-decoration: none; }
.leaf A:visited {text-decoration: none; }
.leaf A:focus_ {text-transform: uppercase;}    
.leaf A {color: #000000;font:menu;vertical-align:top;}
.leaf A:hover {color: #00BFFF;}
.leaf {color: #000000;font: menu; vertical-align:top;}


.page_section A:link {text-decoration: none; }
.page_section A:visited {text-decoration: none; }    
.page_section A {
	color: #666667;	
	font-family: monospace;
	font-style: normal;
}
.page_section A:hover {color: #00BFFF;}
.page_section {
	color: #666667;
	font-family: monospace;
	font-style: normal;

}

.page_section_active A:link {text-decoration: none; }
.page_section_active A:visited {text-decoration: none; }    
.page_section_active A {
	color: #00BFFF;	
	font-family: monospace;
	font-style: normal;

}
.page_section_active A:hover {color: #00BFFF;}
.page_section_active {
	color: #00BFFF;	
	font-family: monospace;
	font-style: normal;

}
.title_section A:link {text-decoration: none; }
.title_section A:visited {text-decoration: none; }    
.title_section A {
	color: white;	
	font-family: monospace;
	font: bold;
}
.title_section A:hover {color: #00BFFF;}
.title_section {
	color: white;
	font-family: monospace;
	font: bold;

}


.block_background{
	background: #f7f7f7;
	border-color: #C1C1C1;
	border-width: thin;
	border-style: groove;

}





input.inputButton{
	border-style: solid;border-width:1px;
	background-color: #e1e1e1;
}

input.input200{
	width:200;
	border: solid 1px #D5E5F7;	
}

TD.labelLeft{

	vertical-align: middle;
	text-align: right;
	display: inline-block;
	height: 24px;
	color: #666667;
	margin: 0;
	padding-top: 3px;
	font-size: 14px;	
}

TD.labelCenter{

	vertical-align: middle;
	text-align: ;
	display: inline-block;
	height: 24px;
	color: #666667;
	margin: 0;
	padding-top: 3px;
	font-size: 14px;	
}

TD.labelContent{
	
	vertical-align: middle;
	text-align: left;
	display_: inline-block;
	height: 24px;
	color: #5F9AD8;
	margin: 0;
	padding-top: 3px;
	padding-left: 5px;
	font-size: 14px;	
	border: solid 1px #D5E5F7;
}

TD.colTab{
	padding:2px;
	background-color:#666667;
	vertical-align: middle;
	text-align: right;
	color: white;
	font-style: normal;
	font-weight: bold;
}


TD.colTab_left{
	padding:2px;
	background-color:#666667;
	vertical-align: middle;
	text-align: left;
	color: white;
	font-style: normal;
	font-weight: bold;
}
TD.colTab_center{
	padding:2px;
	background-color:#666667;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-style: normal;
	font-weight: bold;
}


TD.colTabSel{
	color: white;
	background-color:#ccddff;
	padding:2px;
}


TD.colTab1{
	padding:2px;
	background-color:#EDF6FF;
	vertical-align: middle;
	color: #666667;
	font-style: normal;
}
TD.colTab_transparent{
	padding:2px;

	vertical-align: middle;
	color: #666667;
	font-style: normal;
}

TD.colTab2{
	padding:2px;	
	vertical-align: middle;
	color: #666667;
	font-style: italic;	
	border-bottom-width: thin;
	border-width: thin;
	border-style: solid;
	border-color: #EFEFEF;
}

TD.colTab1whiteR{
	padding:2px;	
	vertical-align: middle;
	color: #666667;
	font-style: italic;	
}

TD.colTab1white{
	padding:2px;	
	vertical-align: middle;
	color: #666667;
	font-style: italic;	
	border-bottom-width: thin;
	border-width: thin;
	border-style: groove;
}
TD.rowTabOver{
	height:17px;
	padding:2px;
	background-color:#ccddff;
	vertical-align: middle;
	color: #666667;
	font-style: normal;
}

TR.colTab{
	height:17px;
	padding:2px;
	background-color:#EDF6FF;
	vertical-align: middle;
	text-align: right;
	color: #666667;
	font-style: normal;
	font-weight: bold;
}

TR.colTabSel{
	height:17px;
	color: white;
	background-color:#ccddff;
	padding:2px;
}

TR.colTabF{


	background-color:white;
	vertical-align: middle;
	text-align: left;

	font-style: normal;

}

TR.colTabFSel{

	color: white;
	background-color:#BDE2B7;

}


TR.colTab1{
	height:17px;
	padding:2px;
	background-color:#EDF6FF;
	vertical-align: middle;
	color: #666667;
	font-style: normal;
}



TR.colTab1Disp{
	height:17px;
	padding:2px;
	background-color:white;
	vertical-align: middle;
	color: #666667;
	font-style: normal;
}

TR.rowTabOver{
	height:17px;
	padding:2px;
	background-color:#ccddff;
	vertical-align: middle;
	color: #666667;
	font-style: normal;
}


div.divLists{
	overflow:auto;
	vertical-align:top;
	border-width:thin;
	border-style:solid; 
	border-width: 1px;
	border-color: #D5E5F7;
	
}
INPUT.signOn {
	display: inline-block;
	height: 24px;
	width: 300px;
	margin: 0;
	padding-left: 8px;
	padding-top: 3px;
	background: white;
	border: 1px solid rgb(217, 217, 217);
	border-top: 1px solid silver;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-size: 14px;
}

TD.signOn {
	display: inline-block;
	height: 24px;
	width: 300px;
	margin: 0;
	padding-left: 8px;
	padding-top: 3px;
	background: white;
	border: 1px solid rgb(217, 217, 217);
	border-top: 1px solid silver;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-size: 14px;
}
TD.signOnLabel {
	display: inline-block;
	height: 24px;
	width: 300px;
	margin: 0;
	padding-top: 3px;
	font-size: 14px;
}

TD.panel_section_top{
	font-family:'verdana', serif;
	color: white;

	vertical-align: middle;
	text-align: right;
	height: 24px;

	cursor: pointer;
	background-color:#D85F79;
	border: outset 1px white;
	border-left: none;
}
TD.panel_section_top:hover {
  background-color: #D0284C;
}
TD.panel_section_content{
	font-family:'verdana', serif;
	color: #658CC8;
	vertical-align: middle;
	border: outset 1px white;
	border-left: none;
	border-bottom:none;
	border-right:none;
	border-top:none;
	font-size:14px;
}
DIV.panel_section_content{
	font-family:'verdana', serif;
	color: #658CC8;
	vertical-align: middle;
	border: outset 1px white;
	border-left: none;
	border-bottom:none;
	border-right:none;
	border-top:none;
	font-size:14px;
}

table.asPanel{
	-moz-box-shadow: 1px 1px 6px gray;
	-webkit-box-shadow: 1px 1px 6px gray;
	box-shadow: 1px 1px 6px gray;
	border-radius: 4px;	
	padding:5px;

}



div.asPanel{
	-moz-box-shadow: 1px 1px 6px gray;
	-webkit-box-shadow: 1px 1px 6px gray;
	box-shadow: 1px 1px 6px gray;
	border-radius: 4px;	
	padding:5px;
	background_:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(230,230,230,1)));
	background_:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(230,230,230,1)) fixed;

}
TD.buttonAsJsSmall{
	background-image: url(../images/menu/button_center_n.gif);
	cursor:pointer;	
	height: 20px;
	
	vertical-align: middle;
	text-align: center;
	color: black;	
	font-family_: "Maven Pro", Arial, sans-serif;
	font-style: normal;	
	border-color: silver;
	font-weight: bold;
	padding: 0 3px 0 3px;
	border-radius: 4px;
	
}
TD.buttonAsJsSmall:hover{
	background-image: url(../images/menu/button_center_o.gif);
}

TD.buttonAsJs{
	background-image: url(../images/menu/button_center_n.gif);
	cursor:pointer;
	width:50px;
	height: 30px;
	border: solid 1px silver;
	vertical-align: middle;
	text-align: center;
	color: black;	
	font-family: monospace;
	font-style: normal;	
	border-color: silver;
	border-radius: 4px;
}
TD.buttonAsJs:hover{
	background-image: url(../images/menu/button_center_o.gif);
}


